# MODEL
MODEL_PATH=./model/model.pt
VECTORIZER_PATH=./model/vectorizer.pkl
MODEL_VERSION=1.0

# DATA
TRAIN_DATA_PATH=
TEST_DATA_PATH=

# DATABASE
POSTGRES_USER=nlp_user
POSTGRES_PASSWORD=nlp_password
POSTGRES_DB=nlp_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# APP
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

# REDIS (для Celery)
REDIS_HOST=redis
REDIS_PORT=6379

# LOGGING
LOG_LEVEL=INFO